.rem-tag {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  border: 0.5px solid var(--rem-border-color);
  background-color: var(--color);
  font-weight: normal;
  white-space: nowrap;
  font-size: var(--rem-font-size-md);
  background: var(--rem-color-primary);
    &-primary{
    border: 0.5px solid var(--rem-color-primary);
    background: var(--rem-color-success);
    color: var(--rem-color-primary);
  }
  &-success{
    border: 0.5px solid var(--rem-color-success);
    background: var(--rem-color-success);
    color: var(--rem-color-success);
  }
  &-warning{
    border: 0.5px solid var(--rem-color-warning);
    background: var(--rem-color-warning);
    color: var(--rem-color-warning);
  }
  &-danger{
    border: 0.5px solid var(--rem-color-danger);
    background: var(--rem-color-danger);
    color: var(--rem-color-danger);
  }
  &-size-xs{
    font-size: var(--rem-font-size-xs);
    padding: 1px 2px;
    border-radius: 2px;
  }
  &-size-lg{
    font-size: var(--rem-font-size-lg);
    padding: 2px 6px;
    border-radius: 4px;
  }
  &-plain{
    background: none;
  }
  &-fill{
    color: var(--rem-color-white);
    border: none;
  }
  &-round{
    border-radius:  999px;
  }
  &-mark{
    border-radius:  0 999px 999px 0;
  }
}
